DATABASE_URL=DATABASE_URL="postgresql://neondb_owner:npg_tZSJB3q7uPAC@ep-lively-frost-at4cwz89.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="bestboutons-jwt-secret-ultra-secure-2026"
ADMIN_EMAIL="admin@bestboutons.ma"
ADMIN_PASSWORD="admin123"
CLOUDINARY_CLOUD_NAME="q9zuc1ef"
CLOUDINARY_API_KEY="397451556968136"
CLOUDINARY_API_SECRET="MAq0t7lMUSGIUa_n1XxG6tjxN14"
